# Data Science Tools and Eco System

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science
- Commonly Used Libraries for Data Science
- How to create a table of contents
- How to do arithmatic calculations in python

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Scala
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy 
2. PyTorch 
3. Matplotlib
4. Pandas

| Data Science tools |
|:------------------:|
|RStudio          |
|Apache Hadoop    |
|Apache Spark     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5  #This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60   #This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

 <div style="text-align: right;"> <h2> Author: Sunitha M.</h2> </div>